<% include includes/header.ejs %>


    <div class="card">
    <div class="item item-divider">
        <a href="<%= article.link %>">原文链接</a> |
        <span><%= article.date.toLocaleDateString() %></span>
        <a href="/categories/<%= article._category._id %>"><%= article._category.name %></a>
        <span></span>
    </div>
      <div class="item">
        <%- article.description %>
      </div>
      <div class="item item-divider">
        <a href="<%= article.link %>">原文链接</a> |
        <span><%= article.date.toLocaleDateString() %></span>
    </div>
    </div>


<% include includes/footer.ejs %>