<% include includes/header.ejs %>

<div class="ui-content js-active">
    <div>
        <span class="ui-color-orange"><%= article.date.toLocaleDateString() %></span>
        <a href="/categories/<%= article._category._id %>"><%= article._category.name %></a>
    </div>
    <div>
        <%- article.description %>
    </div>
    <div>
        <a href="<%= article.link %>">原文链接</a> |
        <span><%= article.date.toLocaleDateString() %></span>
    </div>
</div>
</div>


<% include includes/footer.ejs %>